@use "../../global" as *;
@use "../../partials" as *;

.footer-inner {
  background: $primary-color-700;
  padding: size(48) 0;

  .footer-left-content {
    p {
      margin-top: size(20);
      color: $white;
      font-family: $primaryfont;
      font-size: size(16);
    }
  }

  .footer-middle-content {
    h3 {
      color: $white;
      font-family: $primaryfont;
      font-size: size(20);
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: size(16);
      display: flex;
      flex-direction: column;
      gap: size(8);
      .footer-list {
        .footer-link {
          color: $white;
          font-family: $primaryfont;
          font-size: size(16);
          line-height: size(24);
        }
      }
    }
  }

  .footer-right-content {
    h3 {
      color: $white;
      font-family: $primaryfont;
      font-size: size(20);
      margin-bottom: size(16);
    }
    .social-icn {
      display: flex;
      align-items: center;
      gap: size(16);
      margin-bottom: size(24);
    }
    p {
      color: $white;
      font-family: $primaryfont;
      font-size: size(20);
      font-weight: 500;
      line-height: size(28);
    }
    .newsletter-form {
      display: flex;
      align-items: center;
      background: $white;
      @include radius(4);
      padding: size(4) size(4) size(4) size(6);
      justify-content: space-between;
      margin-top: size(16);
      // max-width: 318px;
      .newsletter-input {
        display: flex;
        align-items: center;
        gap: size(4);
        input {
          // flex-grow: 1;
          width: 100%;
          &::placeholder {
            color: $neutral-400;
            font-family: $primaryfont;
            font-size: size(14);
            line-height: size(20);
          }
        }
      }
      .newsletter-icon {
        width: size(20);
        height: size(16);
        margin-bottom: size(4);
      }
    }
  }
}

.coppy-rights {
  background: $primary-color-700;
  padding-bottom: size(16);
  p {
    color: $white;
    text-align: center;
    font-family: $primaryfont;
    font-size: size(12);
    font-weight: 500;
    line-height: size(18);
  }
}
