@use "../global" as *;
@use "../partials" as *;

.latest-articles {
  background: $neutral-50;
  padding-top: size(16);
  padding-bottom: size(80);
  .section-header {
    color: $neutral-900;
    font-family: $DMfont;
    font-size: size(40);
    line-height: size(48);
    text-align: center;
  }

  &-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin: size(32) 0 size(52) 0;
    &-btn {
      padding: 4px 12px;
      @include radius(4);
      background: $primary-color-50;
      color: $neutral-900;
      font-family: $primaryfont;
      font-size: size(16);
      font-weight: 500;
      line-height: size(24);
      border: none;
      transition: all 0.35s ease-in-out;
      &:hover {
        background: $primary-color-base;
        color: $white;
      }
    }
  }

  .blog-cart {
    background: $white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    &:hover {
      box-shadow: 0px 16px 20px -4px rgba(15, 28, 51, 0.1), 0px 6px 8px -4px rgba(15, 28, 51, 0.04);
    }
    .blog-img {
      width: 100%;
      height: 294px;
      // border-radius:  8px 8px 8px;
      @include single-radius(top, left, 8);
      @include single-radius(top, right, 8);
    }
    .blog-cart-content {
      padding: 12px 12px 20px 12px;
      .blog-title {
        color: $neutral-900;
        padding-bottom: 12px;
        font-family: $primaryfont;
        font-size: size(20);
        font-weight: 500;
        line-height: size(28);
      }
      .blog-author {
        display: flex;
        align-items: center;
        margin-top: size(12);
        gap: size(24);
        .author-name {
          position: relative;
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
          &::after {
            position: absolute;
            top: size(4);
            right: size(-12);
            content: "";
            width: size(1);
            height: size(14);
            background-color: #94a3b8;
          }
        }
        .publish-date {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
        }
      }
    }
  }
}
.newsletter {
  background-image: url("../../assets/images/blog/blog-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: size(430);
  margin: size(144) 0 size(120) 0;
  &-inner {
    position: relative;
    &-cart {
      position: absolute;
      top: -144px;
      left: 50%;
      transform: translateX(-50%);
      background: $white;
      box-shadow: 0px 32px 56px -12px rgba(15, 28, 51, 0.16);
      display: flex;
      width: 300px;
      padding: size(50) 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 13px;
      flex-shrink: 0;
      @include breakpoint(mobile414) {
        width: 400px;
      }
      @include breakpoint(mobile576) {
        width: 550px;
      }
      @include breakpoint(tab992) {
        width: 779px;
      }
      .title {
        color: $neutral-900;
        text-align: center;
        font-family: $DMfont;
        font-size: size(32);
        font-style: normal;
        font-weight: 400;
        line-height: size(40);
      }
      .details {
        color: $neutral-500;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(18);
        font-style: normal;
        font-weight: 400;
        line-height: size(28);
      }
      .form {
        display: flex;
        align-items: center;
        background: $white;
        @include radius(4);
        width: size(280);
        @include breakpoint(mobile414) {
          width: size(370);
        }
        @include breakpoint(mobile576) {
          width: size(470);
        }
        padding: size(8);
        justify-content: space-between;
        border: 1px solid $neutral-200;
        box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
          0px 2px 8px -4px rgba(15, 28, 51, 0.05);
        // max-width: 318px;
        .newsletter-input {
          display: flex;
          align-items: center;
          gap: 4px;
          input {
            // flex-grow: 1;
            width: 100%;
            &::placeholder {
              color: $neutral-400;
              font-family: $primaryfont;
              font-size: size(14);
              line-height: size(20);
            }
          }
        }
        .newsletter-icon {
          width: size(20);
          height: size(16);
        }
      }
    }
  }
}
