@use "../global" as *;
@use "../partials" as *;
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $neutral-50;
}
main {
  flex-grow: 1;
  overflow: hidden;
}
// Hero section start
.hero-inner {
  // max-width: 1440px;
  // margin: auto;
  background-image: url("../../assets/images/home/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0 44px 0;
  &-content {
    display: flex;
    flex-direction: column;
    gap: size(30);
    justify-content: center;
    height: 100%;
    .title {
      color: $primary-color-800;
      font-family: $DMfont;
      font-size: size(38);
      @include breakpoint(tab992) {
        font-size: size(48);
      }
      @include breakpoint(desktop1200) {
        font-size: size(64);
        line-height: size(80);
      }
      font-weight: 400;
    }
    .details {
      color: $neutral-600;
      font-family: $primaryfont;
      font-size: size(18);
      line-height: size(28);
    }
  }
}

// Category section
.category-inner {
  // background: red;
  margin-top: size(48);
  .category-inner-cart {
    figure {
      // width: size(160);
      height: size(160);
      border-radius: 100px 100px 0px 0px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: end;
      padding: size(37) size(37) size(20) size(37);
      .category-img {
        height: size(108);
        width: size(108);
      }
    }
    .category-name {
      color: $neutral-900;
      font-family: $primaryfont;
      font-size: 18px;
      font-weight: 600;
      line-height: size(28);
      text-align: center;
      margin-top: 8px;
    }
  }
}

// popularProduct
.popularProduct {
  &-inner {
    margin-top: size(112);
    &-header {
      color: $neutral-900;
      font-family: $DMfont;
      font-size: size(40);
      font-style: normal;
      line-height: size(48);
      text-align: center;
      margin-bottom: size(40);
    }
    &-category {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      &-btn {
        padding: 4px 12px;
        @include radius(4);
        background: $primary-color-50;
        color: $neutral-900;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
        border: none;
        transition: all 0.35s ease-in-out;
        &:hover {
          background: $primary-color-base;
          color: $white;
        }
      }
    }
    &-cart {
      cursor: pointer;
      &-image {
        position: relative;
        .product-img {
          width: 100%;
          @include breakpoint(mobile768) {
            width: size(302);
            height: size(302);
          }
        }
        .new {
          position: absolute;
          top: size(12);
          left: size(12);
          @include radius(4);
          background: #3b82f6;
          padding: size(2) size(6);
          color: $white;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
        .discount {
          position: absolute;
          top: size(12);
          left: size(12);
          @include radius(4);
          background: #ef4444;
          padding: size(2) size(6);
          color: $white;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
        .popularProduct-inner-cart-inner {
          display: none;
          .popularProduct-inner-cart-hover {
            display: flex;
            flex-direction: column;
            gap: size(12);
            .cart-hover-bg {
              display: flex;
              width: size(48);
              height: size(48);
              justify-content: center;
              align-items: center;
              @include radius(30);
              background: $white;
              box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
                0px 2px 8px -4px rgba(15, 28, 51, 0.05);
            }
          }
        }
        &:hover .popularProduct-inner-cart-inner {
          display: block;
          position: absolute;
          top: size(12);
          right: size(12);
        }
      }
      &-content {
        padding: 16px;
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(16);
          line-height: size(24);
          text-align: center;
        }
        .innerPrice {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .price {
            color: $neutral-900;
            font-family: $DMfont;
            font-size: size(24);
            line-height: size(32);
          }
          .discountPrice {
            color: $neutral-500;
            font-family: $DMfont;
            text-decoration: line-through;
            font-size: size(20);
            line-height: size(28);
            text-decoration-line: strikethrough;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }
    }
  }
}

// Plant for Your Home
.plantHome {
  padding-top: size(112);
  &-inner {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &-title {
        color: $black;
        font-family: $DMfont;
        font-size: size(40);
        font-weight: 400;
        line-height: size(48);
      }
      &-details {
        color: $neutral-500;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin: 16px 0 32px 0;
      }
    }
    figure {
      width: 100%;
      .plantHome-inner-imge {
        width: 100%;
      }
    }
  }
}
.plantHome2 {
  padding: 60px 0 32px 0;
  &-inner {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &-title {
        color: $black;
        font-family: $DMfont;
        font-size: size(40);
        font-weight: 400;
        line-height: size(48);
      }
      &-details {
        color: $neutral-500;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin: 16px 0 32px 0;
      }
    }
    figure {
      width: 100%;
      .plantHome-inner-imge {
        width: 100%;
      }
    }
  }
}
.peopleSays-inner {
  background: $primary-color-50;
  padding: size(48) 0 0 0;
  margin-top: size(112);
  .title {
    color: $neutral-900;
    font-family: $DMfont;
    font-size: size(40);
    line-height: size(48);
    text-align: center;
  }
  .details {
    color: $neutral-600;
    text-align: center;
    font-family: $primaryfont;
    font-size: size(18);
    line-height: size(28);
    margin-top: size(20);
  }
  .peopleSays-cart {
    @include radius(4);
    background: $white;
    padding: size(24);
    .star {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 15px;
        height: 15px;
      }
    }
    .details {
      color: $neutral-600;
      font-family: $primaryfont;
      font-size: size(14);
      line-height: size(20);
      text-align: start;
      margin-top: 0;
      padding: size(16) 0;
    }
    .people-details {
      display: flex;
      align-items: center;
      gap: size(8);
      .people-img {
        width: size(40);
        height: size(40);
        @include radius(50);
        background: lightgray 50% / cover no-repeat;
      }
      .people-name {
        color: $neutral-800;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
      }
    }
  }
}
// What People Says Start

// Read our recent Blogs section
.inner-recentBlock {
  background: $neutral-50;
  padding-top: size(140);
  padding-bottom: size(80);
  .section-header {
    color: $neutral-900;
    font-family: $DMfont;
    font-size: size(40);
    line-height: size(48);
    text-align: center;
  }
  .section-description {
    color: $neutral-600;
    text-align: center;
    font-family: $primaryfont;
    font-size: size(18);
    line-height: size(18);
    margin-top: size(20);
  }

  .blog-cart {
    background: $white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    &:hover {
      box-shadow: 0px 16px 20px -4px rgba(15, 28, 51, 0.1), 0px 6px 8px -4px rgba(15, 28, 51, 0.04);
    }
    .blog-img {
      width: 100%;
      height: 294px;
      // border-radius:  8px 8px 8px;
      @include single-radius(top, left, 8);
      @include single-radius(top, right, 8);
    }
    .blog-cart-content {
      padding: 12px 12px 20px 12px;
      .blog-title {
        color: $neutral-900;
        padding-bottom: 12px;
        font-family: $primaryfont;
        font-size: size(20);
        font-weight: 500;
        line-height: size(28);
      }
      .blog-author {
        margin-top: size(12);
        display: flex;
        align-items: center;
        gap: size(24);
        .author-name {
          position: relative;
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
          &::after {
            position: absolute;
            top: size(4);
            right: size(-12);
            content: "";
            width: size(1);
            height: size(14);
            background-color: #94a3b8;
          }
        }
        .publish-date {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
        }
      }
    }
  }
}

// support section
.inner-support {
  background: #e6f1ef;
  padding: 63px 0;
  margin-bottom: 80px;
  .support-content {
    display: flex;
    justify-content: center;
    gap: size(16);
    @include breakpoint(mobile576) {
      justify-content: flex-start;
    }
    .icon {
      width: size(56);
      height: size(56);
    }
    .support-text {
      h4 {
        color: #232323;
        margin-top: 8px;
        /* Mobile/H5/medium */
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
      }
      p {
        color: #707070;
        padding-top: 10px;
        /* Body/lg/regular */
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
}
