@use "../global" as *;
@use "../partials" as *;

// Hero section start
.hero2 {
  margin-top: size(80);
  &-inner {
    &-content {
      &-indoor {
        color: $primary-color-base;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
        padding: size(4) size(12);
        @include radius(30);
        background: $primary-color-50;
        display: inline-block;
      }
      &-title {
        color: $primary-color-800;
        font-family: $DMfont;
        font-size: 40px;

        @include breakpoint(desktop1200) {
          font-size: size(64);
          line-height: size(80);
        }
      }
      &-details {
        color: $neutral-600;
        font-family: $primaryfont;
        font-size: size(18);
        line-height: size(28);
        margin: size(14) 0 size(20) 0;
        @include breakpoint(desktop1200) {
          margin: size(24) 0 size(40) 0;
        }
      }
    }
    &-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;
      gap: size(130);
      &-content {
        list-style: none;
        border-right: 2px solid $primary-color-100;
        li {
          text-align: end;
          color: $neutral-500;
          font-family: $primaryfont;
          font-size: size(18);
          font-weight: 500;
          line-height: size(28);
          padding: 0 size(12) 0 0;
          cursor: pointer;
          transition: all 0.35s;
          &:hover {
            color: $primary-color-base;
            border-right: 2px solid #00715d;
          }
        }
      }
      &-social {
        .social-item {
          @include radius(8);
          border: 1px solid $primary-color-800;
          width: size(40);
          height: size(40);
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.35s ease-in-out;
          .social-item-svg {
            width: size(20);
            height: size(20);
          }
          .social-item-path {
            transition: all 0.35s ease-in-out;
          }
          &:hover {
            background: $primary-color-base;
          }
          &:hover .social-item-path {
            fill: $white;
          }
        }
      }
    }
  }
}
// Plant category start
.plant-category {
  margin-top: size(112);
  &-cart {
    @include single-radius(top, left, 0);
    @include single-radius(bottom, right, 0);
    @include single-radius(top, right, 24);
    @include single-radius(bottom, left, 24);
    background: $primary-color-50;

    .cart-inner {
      padding: size(16);
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
      .image {
        width: size(140);
        height: size(140);
        flex-shrink: 0;
        // img {
        //   width: size(140);
        //   height: size(140);
        // }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(24);
          font-style: normal;
          font-weight: 400;
          line-height: size(32);
        }
        .link {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $primary-color-base;
          font-family: $primaryfont;
          font-size: size(16);
          font-weight: 500;
          line-height: size(24);
        }
      }
      .starting {
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        font-family: $primaryfont;
        font-size: size(14);
        font-style: normal;
        font-weight: 500;
        line-height: size(20);
        padding: 4px 12px;
        @include single-radius(top, left, 0);
        @include single-radius(bottom, right, 0);
        @include single-radius(top, right, 24);
        @include single-radius(bottom, left, 24);
        background: $primary-color-base;
      }
    }
  }
}
// support section
.inner-support2 {
  margin-top: size(80);
  background: #00715d;
  padding: 63px 0;
  // margin-bottom: 80px;
  .support-content {
    display: flex;
    justify-content: center;
    gap: size(16);
    @include breakpoint(mobile576) {
      justify-content: flex-start;
    }
    .icon {
      width: size(56);
      height: size(56);
    }
    .support-text {
      h4 {
        color: $white;
        margin-top: 8px;
        /* Mobile/H5/medium */
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
      }
      p {
        color: $white;
        padding-top: 10px;
        /* Body/lg/regular */
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
}

// popularProduct
.popularProduct2 {
  margin-top: size(80);
  &-inner {
    // margin-top: size(112);
    &-header {
      color: $neutral-900;
      font-family: $DMfont;
      font-size: size(40);
      font-style: normal;
      line-height: size(48);
      text-align: center;
      margin-bottom: size(40);
    }
    &-category {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      &-btn {
        padding: 4px 12px;
        @include radius(4);
        background: $primary-color-50;
        color: $neutral-900;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
        border: none;
        transition: all 0.35s ease-in-out;
        &:hover {
          background: $primary-color-base;
          color: $white;
        }
      }
    }
    &-cart {
      cursor: pointer;
      &-image {
        position: relative;
        .product-img {
          // width: size(302);
          width: 100%;
          height: size(302);
        }
        .new {
          position: absolute;
          top: size(12);
          left: size(12);
          @include radius(4);
          background: #3b82f6;
          padding: size(2) size(6);
          color: $white;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
        .discount {
          position: absolute;
          top: size(12);
          left: size(12);
          @include radius(4);
          background: #ef4444;
          padding: size(2) size(6);
          color: $white;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 500;
          line-height: size(20);
        }
        .popularProduct2-inner-cart-inner {
          display: none;
          .popularProduct2-inner-cart-hover {
            display: flex;
            flex-direction: column;
            gap: size(12);
            .cart-hover-bg {
              display: flex;
              width: size(48);
              height: size(48);
              justify-content: center;
              align-items: center;
              @include radius(30);
              background: $white;
              box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
                0px 2px 8px -4px rgba(15, 28, 51, 0.05);
            }
          }
        }
        &:hover .popularProduct2-inner-cart-inner {
          display: block;
          position: absolute;
          top: size(12);
          right: size(12);
        }
      }
      &-content {
        padding: 16px;
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(16);
          line-height: size(24);
          text-align: center;
        }
        .innerPrice {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .price {
            color: $neutral-900;
            font-family: $DMfont;
            font-size: size(24);
            line-height: size(32);
          }
          .discountPrice {
            color: $neutral-500;
            font-family: $DMfont;
            text-decoration: line-through;
            font-size: size(20);
            line-height: size(28);
            text-decoration-line: strikethrough;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
      }
    }
  }
}
// product variant
.product-variant {
  margin-top: size(112);
  .content {
    @include single-radius(top, left, 8);
    @include single-radius(bottom, right, 8);
    @include single-radius(top, right, 80);
    @include single-radius(bottom, left, 8);
    background: #f1e7db;
    display: flex;
    flex-direction: column;
    gap: size(40);
    padding: size(51) 0 0 size(32);
    .content-left {
      .variant {
        color: $neutral-600;
        font-family: $primaryfont;
        font-size: size(16);
        line-height: size(24);
      }
      .title {
        color: $neutral-900;
        font-family: $DMfont;
        font-size: size(32);
        line-height: size(40);
      }
    }
    .content-left-img {
      display: flex;
      justify-content: center;
      img {
        width: size(270);
        height: size(270);
        flex-shrink: 0;
      }
    }
  }
  .content1 {
    display: flex;
    flex-direction: column;
    gap: size(24);
    .content-top {
      @include single-radius(top, left, 32);
      @include single-radius(bottom, right, 32);
      @include single-radius(top, right, 8);
      @include single-radius(bottom, left, 8);
      background-color: #e5eefa;
      padding: 48px 16px 13px 24px;
      display: flex;
      justify-content: space-between;
      .content-left {
        .variant {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(16);
          line-height: size(24);
        }
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(32);
          line-height: size(40);
        }
      }
      .content-right {
        margin-top: 13px;
        img {
          width: size(127);
          height: size(127);
          flex-shrink: 0;
        }
      }
    }
    .content-bottom {
      @include single-radius(top, left, 8);
      @include single-radius(bottom, right, 8);
      @include single-radius(top, right, 32);
      @include single-radius(bottom, left, 32);
      background-color: #f7e4e0;
      padding: 48px 16px 13px 24px;
      display: flex;
      justify-content: space-between;
      .content-left {
        .variant {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(16);
          line-height: size(24);
        }
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(32);
          line-height: size(40);
        }
      }
      .content-right {
        margin-top: 13px;
        img {
          width: size(127);
          height: size(127);
          flex-shrink: 0;
        }
      }
    }
  }
  .content2 {
    display: flex;
    flex-direction: column;
    gap: size(24);
    .content-top {
      @include single-radius(top, left, 8);
      @include single-radius(bottom, right, 8);
      @include single-radius(top, right, 32);
      @include single-radius(bottom, left, 32);
      background-color: #dedbf1;
      padding: 48px 16px 13px 24px;
      display: flex;
      justify-content: space-between;
      .content-left {
        .variant {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(16);
          line-height: size(24);
        }
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(32);
          line-height: size(40);
        }
      }
      .content-right {
        margin-top: 13px;
        img {
          width: size(127);
          height: size(127);
          flex-shrink: 0;
        }
      }
    }
    .content-bottom {
      @include single-radius(top, left, 32);
      @include single-radius(bottom, right, 32);
      @include single-radius(top, right, 8);
      @include single-radius(bottom, left, 8);
      background-color: #dbe9f1;
      padding: 48px 16px 13px 24px;
      display: flex;
      justify-content: space-between;
      .content-left {
        .variant {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(16);
          line-height: size(24);
        }
        .title {
          color: $neutral-900;
          font-family: $DMfont;
          font-size: size(32);
          line-height: size(40);
        }
      }
      .content-right {
        margin-top: 13px;
        img {
          width: size(127);
          height: size(127);
          flex-shrink: 0;
        }
      }
    }
  }
}
// Plant for Your Home
.plantHome {
  padding-top: size(112);
  &-inner {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &-title {
        color: $black;
        font-family: $DMfont;
        font-size: size(40);
        font-weight: 400;
        line-height: size(48);
      }
      &-details {
        color: $neutral-500;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin: 16px 0 32px 0;
      }
    }
    figure {
      width: 100%;
      .plantHome-inner-imge {
        width: 100%;
      }
    }
  }
}
.plantHome2 {
  padding: 60px 0 32px 0;
  &-inner {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &-title {
        color: $black;
        font-family: $primaryfont;
        font-size: size(24);
        font-weight: 500;
        line-height: size(32);
      }
      &-details {
        color: $neutral-500;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin: 16px 0 32px 0;
      }
    }
    figure {
      width: 100%;
      .plantHome-inner-imge {
        width: 100%;
      }
    }
  }
}
.peopleSays-inner2 {
  background: $primary-color-50;
  padding: size(48) 0 0 0;
  margin-top: size(112);
  .title {
    color: $neutral-900;
    font-family: $DMfont;
    font-size: size(40);
    line-height: size(48);
    text-align: center;
  }
  .details {
    color: $neutral-600;
    text-align: center;
    font-family: $primaryfont;
    font-size: size(18);
    line-height: size(28);
    margin-top: size(20);
  }
  .peopleSays-cart {
    @include radius(4);
    background: $white;
    padding: size(24);
    .star {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 15px;
        height: 15px;
      }
    }
    .details {
      color: $neutral-600;
      font-family: $primaryfont;
      font-size: size(14);
      line-height: size(20);
      text-align: start;
      margin-top: 0;
      padding: size(16) 0;
    }
    .people-details {
      display: flex;
      align-items: center;
      gap: size(8);
      .people-img {
        width: size(40);
        height: size(40);
        @include radius(50);
        background: lightgray 50% / cover no-repeat;
      }
      .people-name {
        color: $neutral-800;
        font-family: $primaryfont;
        font-size: size(16);
        font-weight: 500;
        line-height: size(24);
      }
    }
  }
}
// What People Says Start

// Read our recent Blogs section
.inner-recentBlock2 {
  background: $neutral-50;
  padding: size(80) 0;
  .section-header {
    color: $neutral-900;
    font-family: $DMfont;
    font-size: size(40);
    line-height: size(48);
    text-align: center;
  }
  .section-description {
    color: $neutral-600;
    text-align: center;
    font-family: $primaryfont;
    font-size: size(18);
    line-height: size(18);
    margin-top: size(20);
  }

  .blog-cart {
    background: $white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    &:hover {
      box-shadow: 0px 16px 20px -4px rgba(15, 28, 51, 0.1), 0px 6px 8px -4px rgba(15, 28, 51, 0.04);
    }
    .blog-img {
      width: 100%;
      height: 294px;
      // border-radius:  8px 8px 8px;
      @include single-radius(top, left, 8);
      @include single-radius(top, right, 8);
    }
    .blog-cart-content {
      padding: 12px 12px 20px 12px;
      .blog-title {
        color: $neutral-900;
        padding-bottom: 12px;
        font-family: $primaryfont;
        font-size: size(20);
        font-weight: 500;
        line-height: size(28);
      }
      .blog-author {
        display: flex;
        align-items: center;
        gap: size(24);
        margin-top: size(12);
        .author-name {
          position: relative;
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
          &::after {
            position: absolute;
            top: size(4);
            right: size(-12);
            content: "";
            width: size(1);
            height: size(14);
            background-color: #94a3b8;
          }
        }
        .publish-date {
          color: $neutral-600;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 20px;
        }
      }
    }
  }
}
